<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" metadata-complete="true">


    <servlet>
        <servlet-name>dong</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--<init-param>-->
            <!--<param-value>db.defaultAlias</param-value>-->
            <!--<param-value>/cgm/g3/tsm</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-value>db.autoSetup</param-value>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-value>mib.autoSetup</param-value>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-value>mib.value</param-value>-->
            <!--<param-value>tsm-mib</param-value>-->
        <!--</init-param>-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dong</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
